@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #0e728b; /* Nossa variável com nossa cor global */
    --primary-color-darker: #083946;
}

* {
    box-sizing: border-box;
    outline: none;    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

section.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: black;
    background-image: linear-gradient(to right, green, cyan);
    border-radius: 4px;
}

button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer; /* Para ficar o dedinho quando passarmos o mouse por cima */
    margin-top: 30px;
    border-radius: 10px;
}

#relogio {
    font-size: 3em;
}